<!-- COMPONENTE MENU AQUI -->

<div class="main">
    <div class="container">
      <div class="row mt-5">
        <div class="col-4">
          <!-- COMPONENTE REVENUES-CARD AQUI -->
        </div>
        <div class="col-4">
          <!-- COMPONENTE DEBTS-CARD AQUI -->
        </div>
        <div class="col-4">
          <!-- COMPONENTE BALANCE-TOTAL-CARD AQUI -->
        </div>
      </div>
    </div>
    <!-- COMPONENTE REVENUES AQUI -->
    <!-- COMPONENTE DEBTS AQUI -->
  </div>
  
  <!-- COMPONENT FOOTER AQUI -->